main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

#hero{
    border-radius: 5px;
background: linear-gradient(122deg, #1AA7D5 0%, #00674F 100%);
width: 100%;
height: auto;
}
#container{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.overlay{
    position: relative;
    border-radius: 9999px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(2px);
width: 300px;
height: 50px;
margin-top: 300px;
text-align: center;
color: white;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
top: -100px;
}
.overlay#texto1{
    color: rgba(255, 255, 255, 0.90);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}
#title{
    position: relative;
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Inter;
font-size: 90px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
top: -130px;
}
#title span{
font-size: 90px;
}
span{
    color: #FAD905;
font-family: Inter;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 72px;
}
#title3{
    position: relative;
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Inter;
font-size: 90px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
top: -170px;
}

#aprenda{
    position: relative;
  border-radius: 12px;
  background-color: #FAD905;
 box-shadow: 0 4px 16px -2px rgba(229, 255, 0, 0.4); 
width: 285.34px;
height: 60px;
margin-top: 50px;
top: -180px;
}
#title2{

    color: #141414;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
}
#svg{
    position: relative;
    width: 25px;
height: 60px;
top: -180px;
}

#container2{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#crdito{
width: 72.9px;
height: 17px;
position: relative;
font-size: 14px;
letter-spacing: 0.7px;
line-height: 20px;
text-transform: uppercase;
font-weight: 600;
font-family: Inter;
color: #212529;
text-align: center;
display: flex;
align-items: cente;
justify-content: center;
top: -px;
}
.heading-2-container {
  	width: 1009px;
  	height: 48px;
  	position: relative;
  	font-size: 58px;
  	line-height: 48px;
  	display: flex;
  	font-family: Inter;
  	text-align: center;
  	align-items: center;
  	color: #212529;
}
.heading-2-container {
  	width: 1009px;
  	height: 48px;
  	position: relative;
  	font-size: 58px;
  	line-height: 48px;
  	display: flex;
  	font-family: inter;
  	text-align: center;
  	align-items: center;
  	color: #212529;
}
.heading-2-container {
    position: relative;
width: 10090px;
height: 48px;
position: relative;
font-size: 58px;
line-height: 48px;
display: flex;
font-family: Inter;
text-align: center;
align-items: center;
color: #212529;
top: -180px;
}
.heading-2-container2 {
    position: relative;
width: 100%;
top: 100px;
}
#span1 {
color: #141414;
}
.armadilha-silenciosa {
color: #06766e;
}

.o-acesso-facilitado {
  	width: 764px;
  	height: 49px;
  	position: relative;
  	font-size: 24px;
  	line-height: 28px;
  	font-family: Inter;
  	color: #666;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
    top: -100px;
}


body {
  	margin: 0;
  	line-height: normal;
}

#cards1{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    top: -100px;
}

#cards1 .cards{
  	width: 400px;
  	height: 345px;
  	position: relative;
  	box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.06);
  	border-radius: 16px;
  	background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.heading-3 {
  	width: 375.4px;
  	height: 28px;
  	position: relative;
  	font-size: 33px;
  	line-height: 28px;
  	display: flex;
  	font-family: Inter;
  	color: #141414;
  	text-align: left;
  	align-items: center;
    top: 60px;
}

.o-crdito-fcil {
  	width: 276px;
  	height: 86px;
  	position: relative;
  	font-size: 25px;
  	line-height: 23px;
  	font-family: Inter;
  	color: #666;
  	text-align: left;
  	display: flex;
  	align-items: center;
    top: 60px;
}

.heading-3 {
  	width: 375.4px;
  	height: 28px;
  	position: relative;
  	font-size: 33px;
  	line-height: 28px;
  	display: flex;
  	font-family: Inter;
  	color: #141414;
  	text-align: left;
  	align-items: center;
    left: 50px;
    top: 60px;

}



.sua-dvida-cresce {
  	width: 276px;
  	height: 79px;
  	position: relative;
  	font-size: 25px;
  	line-height: 23px;
  	font-family: Inter;
  	color: #666;
  	text-align: left;
  	display: flex;
  	align-items: center;
    top: 60px;

}

.heading-3-1 {
  	width: 375.4px;
  	font-size: 33px;
  	position: relative;
  	font-size: 33px;
  	line-height: 28px;
  	display: flex;
  	font-family: Inter;
  	color: #141414;
  	text-align: left;
  	align-items: center;
    top: 60px;
    left: 30px;
}

.promoes-e-facilidades {
  	width: 276px;
  	height: 80px;
  	position: relative;
  	font-size: 25px;
  	line-height: 23px;
  	font-family: Inter;
  	color: #666;
  	text-align: left;
  	display: flex;
  	align-items: center;
    left: -15px;
    top: 36px;

}

.heading-3-2 {
  	width: 375.4px;
  	font-size: 33px;
  	position: relative;
  	font-size: 33px;
  	line-height: 28px;
  	display: flex;
  	font-family: Inter;
  	color: #141414;
  	text-align: left;
  	align-items: center;
    top: 60px;
    left: 30px;
}

.x-sem-juros {
  	width: 276px;
  	height: 80px;
  	position: relative;
  	font-size: 25px;
  	line-height: 24px;
  	font-family: Inter;
  	color: #666;
  	text-align: left;
  	display: flex;
  	align-items: center;
    left: -15px;
    top: 48px;

}

#icon1{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #e6d257;
    top: -250px;
    right: 130px;
    border-radius: 10px;
}
.svg-icon {
    position: relative;
  	width: 10px;
  	height: 4px;
  	position: relative;
  	max-width: 10%;
  	overflow: hidden;
    align-items: center;
}


