
body{ 
    background-color: var(--background-dark);
}

#container{
    width: 100%;
    height: 100vh;
   background: rgba(37, 192, 185, 0.80);
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

#titulo{
    width: 100%;
    height: auto;
     display: flex;
    justify-content: center; 
    margin-top: 200px;
    
} 
#titulo h1{
    
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#cards{
    width: 85%;
    height: 660px;
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; 
}

.card{
    width: 30%;
    height: 200px;
    background-color: #FFF;
    border-radius: 25px ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    fill: #FFF;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.card p{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}
    
    



