
body{ 
    background-color: var(--background-dark);
}

main{
    display: flex;
    flex-direction: column;

}
.hero {
width: 688px;
height: 800px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
margin-top: 50px;
margin-left:200px ;
    
}
.text {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #171A26;
    font-family: Inter;
    font-size: 130px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 78.431% */
    letter-spacing: 1px;
        
    
}

#historia {
    width:100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    justify-content: center; /* alinha o elementro na horizontal */
    align-items: center; /*alinha o elemento na vertical */
}

#conteudo {
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
}

    
    



