main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}

#hero {
  background-color: #fff;
  width: 100%;
  height: 648px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#conteudo-hero {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#btn-fazer-teste {
  width: 50%;
  height: 75px;
  border-radius: 37px;
  border: none;
  background: #59BDA3;
  margin: 20px;
}

#btn-fazer-teste:hover {
  background: #4DA48B;
  cursor: pointer;
}

#btn-fazer-teste a {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 91.667% */
    letter-spacing: 0.2px;
}

#conteudo-hero h1 {
  color: #212529;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;
}

#conteudo-hero span {
  color: #FAE007;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.2px;
}

#conteudo-hero p {
  color: #212529;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
  margin: 10px;
}

#hero-image {
  width: 500px;
  height: auto;
  margin-top: 10px;
}

#situacoes{
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#conteudo-situacoes {
  width: 100%;
  height: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#situacoes-image {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#situacoes-image img{
  width: 300px;
  height: auto;
  margin-top: 10px;
}

#situacoes-image h1 {
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 100% */
  background: linear-gradient(90deg, #7957EA 0%, #1AA7D5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#situacoes-texto {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#situacoes-texto h1 {
  color: #1F242E;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 100% */
  margin: 20px;
}

#situacoes-texto p {
  color: #141414;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 127.273% */
  margin: 2px;
}

#situacoes-texto span {
  color: #F9C31F;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

#btn-descubra {
  width: 211px;
  height: 59px;
  border-radius: 37px;
  background: #59BDA3;
  margin: 20px;
  border: none;
}

#btn-descubra a {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}

#video {
  width: 100%;
  height: auto;
  padding: 60px 0;
  background-color: #2B9C89;
  display: flex;
  justify-content: center;
  align-items: center;
}

#conteudo-video {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#video-titulo {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  
}

#video-titulo h1 {
  color: #FFF;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
}

#video-titulo span {
  color: #F9C31F;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

#video-titulo p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
} 

#video-area {
  width: 55%;
  position: relative;
  padding-bottom: 30.9%;
  height: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

#video-area iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#chamada-quiz {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chamada-quiz h1 {
  color: #1F242E;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 88.889% */
  margin: 10px;
}

#chamada-quiz span {
  color: #FAE007;
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

#chamada-quiz p {
  color: #666;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.25px; /* 121.875% */
  margin: 10px;
}

#chamada-quiz b {
  color: #676F7E;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin: 10px;
}

#btn-chamada-quiz {
  display: flex;
  width: 15%;
  padding: 17px 49.95px 16px 51px;
  justify-content: center;
  align-items: center;
  gap: 5.334px;
  border-radius: 37px;
  background: #2B9C89;
  margin: 10px;
  border: none;
}

#btn-chamada-quiz a {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}

#salario {
  border-radius: 5px;
  background: linear-gradient(90deg, #00674F 0%, #19AED9 100%);
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#conteudo-salario {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#salario-titulo {
  width: 60%;
  height: auto;
  text-align: left;
  flex-direction: column;
}

#salario-titulo h1 {
  color: #FFF;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 82.759% */
  margin-bottom: 40px;
}

#salario-titulo p {
  color: #F0FDFA;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.5px; /* 135.417% */
}

#salario-titulo span {
  background-color: #FAE007;
  color: #111827;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.5px; /* 135.417% */
  border-radius: 10px;
}

#conteudo-salario img {
  width: 100%;
  height: 349px;
  aspect-ratio: 249/158;
}

#btn-salario {
  width: 20%;
  height: 52px;
  border-radius: 37px;
  background: #FFF;
  margin: 20px;
}

#btn-salario a {
  color: #212529;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  border: none;
}

#reserva {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#conteudo-reserva {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

#conteudo-reserva img{
  width: 500px;
  height: auto;
}

#reserva-titulo h1{
  color: #212529;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.16px;
}

#reserva-titulo p {
  color: #212529;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 107.143% */
  letter-spacing: -0.56px;
}

#reserva-titulo span {
  background-color: #FAE007;
  border-radius: 100px;
}

#divida {
  border-radius: 5px;
  background: #177F72;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#conteudo-divida {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

#divida-titulo {
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#conteudo-divida img {
  width: 475px;
  height: auto;
}

#divida-titulo h1 {
  color: #FFF;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.16px;
}

#divida-titulo span {
  color: #FAE007;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.16px;
}

#divida-titulo p {
  color: #D5D5D5;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 104.545% */
  letter-spacing: 2.86px;
}

#decisoes {
  width: 100%;
  height: 600px;
  background-color: #FFF
}

#conteudo-decisoes {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

#conteudo-decisoes img {
  width: 100%;
  height: auto;
}

#decisoes-titulo {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#decisoes-titulo h1 {
  color: #212529;
  text-align: center;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px; /* 100% */
  letter-spacing: -1.16px;
  margin: 15px;
}

#decisoes-titulo p {
  color: #212529;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 100% */
  letter-spacing: -0.6px;
  margin: 15px;
}

#btn-dividas {
  width: 200px;
  height: 55px;
  border-radius: 37px;
  background: #59BDA3;
  margin: 15px;
  border: none;
}

#btn-dividas a {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}

#contato{
  background:#f4f4f4;
  padding:60px 10%;
}

#contato-titulo{
  text-align:center;
  margin-bottom:50px;
  font-size:40px;
}

#contato-container{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  gap:50px;
}

#contato-info{
  flex:1;
}

#contato-info h2{
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 166.667% */
  margin-bottom:10px;
}

#contato-info > p{
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom:20px;
}

#contato-email{
  display:flex;
  align-items:center;
  gap:10px;
  border-bottom:2px solid teal;
  padding-bottom:10px;
  width:fit-content;
}

#contato-email span,
#contato-email img {
  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

#contato-email p {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  line-height: 1;
}

#contato-redes{
  display:flex;
  gap:15px;
  margin-top:20px;
}

#contato-redes a{
  width:40px;
  height:40px;
  background:transparent;
  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;
}

#contato-redes img{
  width:20px;
  height:20px;
  display:block;
  object-fit:contain;
}

#contato-formulario{
  flex:1;
  background:white;
  padding:30px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);

  display:flex;
  flex-direction:column;
  gap:20px;
}

#contato-linha{
  display:flex;
  gap:20px;
}

#contato-formulario .campo{
  display:flex;
  flex-direction:column;
  flex:1;
}

#contato-formulario input,
#contato-formulario textarea{
  padding:10px;
  border:1px solid #ccc;
  border-radius:6px;
  margin-top:5px;
  color: #374151;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

#contato-formulario textarea{
  resize:none;
  height:120px;
}

#contato-formulario button{
  background:#f2c200;
  border:none;
  padding:15px;
  border-radius:30px;
  font-weight:bold;
  cursor:pointer;
}

@media (max-width: 900px) {
  #contato-container {
    flex-direction: column;
  }

  #contato-linha {
    flex-direction: column;
    gap: 12px;
  }
}